<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-content">
  <div class="row">
    <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert">
      <div class="m-alert__icon"><i class="la la-warning"></i></div>
      <div class="m-alert__text">
        <strong>Thank you ! </strong> We sincerely appriciate your interest in our services. We have received your notification and we will surely get back to you in the next
        24hrs. please stay tunned.
      </div>
      <div class="m-alert__actions" style="width: 200px;">
        <button type="button" (click)="back()" class="btn btn-success btn-sm m-btn m-btn--pill m-btn--wide" title="Please notify us">
          Go back
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
